/* 
    General Styles


*/

.container {
  display: flex;
  overflow-x: auto;
}

.card {
  display: inline-block;
  margin-right: 10px;

  min-width: 300px;
}


.blurred {
  box-shadow: -7px -5px 286px 20px rgba(231,166,26,1);
}


